Updating origin
https://github.com/libertine-linux-mirrors/nasm
Branch 'master' set up to track remote branch 'master' from 'origin'.
[submodule "upstream"]
	path = upstream
	url = https://github.com/libertine-linux-mirrors/nasm.git
	branch = master
	libertine-linux-upstream = https://repo.or.cz/nasm.git
